.filme {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: #1c1c1c; */
    padding: 2rem;
    border-radius: 20px;
    color: #fff;
    max-width: 1200px;
    margin: 0px auto;
    /* box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5); */
  }
  
  .filme h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .filme a {
    margin-top: 1rem;
    padding: 0.6rem 1.2rem;
    background-color: #facc15;
    color: #1c1c1c;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }
  
  .filme a:hover {
    background-color: #eab308; /* tom um pouco mais escuro no hover */
    transform: scale(1.05); /* animação leve de destaque */
  }
  
  .filme strong {
    color: #facc15; /* amarelinho pra destacar */
  }
  
  .filme p {
    margin: 0.5rem 0;
    font-size: 1rem;
    line-height: 1.5;
  }
  
  /* Área de imagem + título */
  #filme-secao {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 2rem;
  }
  
  #filme-secao h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  
  #filme-secao p {
    font-size: 1rem;
    line-height: 1.5;
  }
  
  #filme-secao img {
    width: 100%;
    min-width: 250px;
    max-width: 200px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  }
  
  #filme-secao ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  /* Informações detalhadas */
  #filme-detalhes {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    background-color: #2a2a2a;
    padding: 1.5rem;
    border-radius: 15px;
    width: 90%;
    max-width: 1200px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
  }
  
  #plot {
    width: 100%;
    text-align: justify;
    margin-bottom: 1rem;
  }
  
  /* Responsividade */
  @media (max-width: 768px) {
    #filme-secao {
      flex-direction: column;
      text-align: center;
    }
  
    #plot {
      width: 100%;
    }
  }
  