.film-card{
    color: #FFF;
    text-align: center;
    border: 5px solid #4B0082  ;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 200px;

    height: 100%;
    transition: transform 0.3s ease-in-out;
}

.film-card:hover {
    transform: scale(1.05); /* Aumenta levemente o tamanho do card ao passar o mouse */
}

.film-card img {
    width: 100%;
    height: 300px;
    margin-bottom: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    object-fit: cover;
}

.film-card h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
    text-transform: capitalize;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 90%; 
    white-space: nowrap;

}

.film-card h3:hover {
    transition: 2s;
    overflow: visible;
    white-space: normal;


}
.film-card h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
    text-transform: capitalize;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 90%; 

}

.film-card p {
    display: inline-block;
    background-color: #8A2BE2 ;
    border-radius: 20px;
    padding: 5px 20px;
    margin: 5px;
    font-size: 14px;
    text-transform: capitalize;
    margin-bottom: 25px;
}